@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  text-align: center;
  background-color: #a09f9b;
  color:black;
}
h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}
#youtube {
  position: fixed;
  right: 335px;
  top: 262px;
}

#subscribe {
  position: fixed;
  right: 265px;
  top: 267px;
}

#twitter {
  position: fixed;
  right: 242px;
  top: 269px;
}

#instagram {
  position: fixed;
  right: 215px;
  top: 269px;
}

#twitch {
  position: fixed;
  right: 184px;
  top: 270px;
}

#discord {
  position: fixed;
  right: 163px;
  top: 270px;
}
